.navbar {
    display: flex;
   
    overflow: hidden;
    justify-content: space-between;
}

/* Styling for the navigation links */
.nav-list {
    display: flex;
    justify-content: right;
    
}

.nav-item {
    margin: 0; 
    text-align: right;
   
}

.nav-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
   
    
}
.button{
    border-radius: 50px;
    width: 80px;
    height: 80px;
    background-color: red;
    font-size: 18px;
}


.nav-item a:hover {
    background-color: #575757;
   
}
/* Responsive design: stack items on small screens */
@media (max-width: 600px) {
    .nav-list {
        flex-direction: column;
        text-align: center;
        
    }
    }

    .nav-item a {
        padding: 10px;
        font-size: 18px;
        
    }
.logo{
        max-height: 70px; /* Adjust based on your logo's size */
        width: 90px;
        margin-bottom:-60px;
    }
    ul{
        list-style: none;
        margin-right: 30px;
    }
.head{
    width: 100%;
    height: 600px;
    text-align: center;
    background-attachment: fixed;
    background-color: black;
    background-image: url(https://images.pexels.com/photos/11578915/pexels-photo-11578915.jpeg?auto=compress&cs=tinysrgb&w=1280);
}
body{
    overflow-x: hidden;
    margin: 0%;
    padding: 0px;
}
a{
  text-decoration: none;  
  color: white;
}
.second{
    width: 100%;
    height: 500px;
    background-color: black;
    display: flex;
    text-align: center;
}
.s3{
    width: 300px;
    
    color: white;
    font-size: 30px;
    margin-left: 160px;
   margin-top: ;
}
.s2{
    margin-left: 130px;
    margin-top: 50px;

}
.third{
    width: 100%;
    height: 600px;
    background-attachment: fixed;
    background-image: url(https://images.pexels.com/photos/237272/pexels-photo-237272.jpeg?auto=compress&cs=tinysrgb&w=1280);
}